.song{
    display: grid;
    grid-template-columns: 16px 4fr 2fr 1fr;
    gap: 16px;
    transition: transform .2s ease-in-out;
    color: #b3b3b3;
    padding: 5px 20px;
    border-radius: 5px;
}
.song-image{
    height: 40px;
    width: 40px;
    aspect-ratio: auto 40 / 40;
    -webkit-user-drag: none;
    border-radius: 5px;
}
.song-name{
    font-size: 16px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: normal;
    overflow: hidden;
}
.song-singer,.song-album, .song-duration{
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: normal;
    overflow: hidden;
}
.song:hover{
    background-color: rgba(255, 255, 255, 0.138);
}



@media(max-width: 998px){
    .song{
        grid-template-columns: 4fr 2fr 1fr;
    }
    .song-number{
        display: none;
    }
}
@media(max-width: 560px){
    .song{
        grid-template-columns: 4fr 1fr;
        padding: 5px 10px;
        transition: .2s padding linear;
    }
    .song-album-block{
        display: none;
    }
}
@media(max-width: 421px){
    .song{
        grid-template-columns: 1fr;
    }
    .song-duration-block{
        display: none;
    }
}