.top{
    height: 60px;
    background-color: #090909;
    border-bottom: 1px solid rgba(255, 255, 255, 0.041);
    padding: 0 20px;
}
.topWrapper{
    gap: 20px;
}
.mobile-display{
    visibility: hidden;
}

.log-button{
    background-color: white;
    padding: 10px 35px;
    color: black;
    border-radius: 25px;
    
}
.log-button:hover{
    background-color: rgba(255, 255, 255, 0.944);
    transition: .2s ease-in-out;
    transform: scale(1.05);
}
.font-16{
    font-size: 18px;
    font-weight: 500;
}
.sign-button{
    color: rgba(255, 255, 255, 0.568);
}
.sign-button:hover{
    transition: .2s ease-in-out;
    color: white;
    transform: scale(1.05);
}
.top-user{
    background-color: rgba(160, 157, 157, 0.285);
    width: 80px;
    padding: 0 20px;
    gap: 10px;
    height: 40px;
    border-radius: 25px;
}
.menu-icon{
    position: relative;
}
.drop-down{
    position: absolute;
    background-color: #286077 ;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 20px;
    visibility: hidden;
    top: 25px;
    z-index: 2;
}

.menu-icon:hover .drop-down{
    transform: translateX(-75px);
    transition: .3s ease-in-out;
    visibility: visible;
}
.user-name-display{
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}
.skeleton{
    display: inline-block;
    line-height: 100%;
    width: 100%;
    background-color: #ffff;
    background-size: 1000px 1000px;
    background-image: linear-gradient(
    100deg,
    #4f4a4c 20%,
    #484545 50%,
    #504d4d 60%
  );
  animation: skeleton-loading 3s linear infinite forwards;
}

.skeleton-text{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    transition: .2s ease-in-out;
}

@keyframes skeleton-loading{
    0%{
        background-position: -500px 0;
    }
    100%{
        background-position: 500px 0;
    }
}

@media(max-width: 998px){
    .mobile-display{
        visibility: visible;
    }
}

@media(max-width: 648px){
    .top{
        padding-right: 10px;
        gap: 10px;
    }
    .skeleton-text{
        width: 100px;
    }
}