.top{
    height: 60px;
    background-color: #090909;
    border-bottom: 1px solid rgba(255, 255, 255, 0.041);
    padding: 0 20px;
}
.topWrapper{
    gap: 20px;
}
.mobile-display{
    visibility: hidden;
}

.log-button{
    background-color: white;
    padding: 10px 35px;
    color: black;
    border-radius: 25px;
    
}
.log-button:hover{
    background-color: rgba(255, 255, 255, 0.944);
    transition: .2s ease-in-out;
    transform: scale(1.05);
}
.font-16{
    font-size: 18px;
    font-weight: 500;
}
.sign-button{
    color: rgba(255, 255, 255, 0.568);
}
.sign-button:hover{
    transition: .2s ease-in-out;
    color: white;
    transform: scale(1.05);
}
.top-user{
    background-color: rgb(180, 155, 200);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.user-name-display{
    font-size: 13px;
    font-weight: 700;
    color: black;
}
.skeleton{
    display: inline-block;
    line-height: 100%;
    width: 100%;
    background-color: #ffff;
    background-size: 1000px 1000px;
    background-image: linear-gradient(
    100deg,
    #4f4a4c 20%,
    #484545 50%,
    #504d4d 60%
  );
  animation: skeleton-loading 3s linear infinite forwards;
}

.skeleton-text{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .2s ease-in-out;
    margin-right: 20px;
}


.menu-list{
    padding-right: 15px;
    
}
.menu-list .menu-icon-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}
.menu-icon{
    width: 25px;
    height: 25px;
    color: rgba(175, 150, 150, 0.782);
}

.menu-list .menu-icon-button:hover{
    background-color: rgba(43, 41, 41, 0.144);
    transition: .2s ease-in-out;
}

.box{
    position: absolute;
    width: 180px;
    /* background-color: #286077 ; */
    background-color: white;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.782);
    z-index: 1;
    right: 20px;
    top: 50px;
    gap: 1px;
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
  }
  .box button{
    background-color: transparent;
    padding: 15px 20px;
    border: none;
    color: black;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.303);
  }
  .box button:hover{
    transition: .28s ease-in-out;
    background-color: #acafb0a5;;
  } 
  
  .menu-icon-button:hover .box{
    text-wrap: nowrap;
    visibility: visible;
    transition: .5s ease-in-out;
  }

  .hidden-icon{
    height: 20px;
    width: 20px;
  }


@keyframes skeleton-loading{
    0%{
        background-position: -500px 0;
    }
    100%{
        background-position: 500px 0;
    }
}

@media(max-width: 998px){
    .mobile-display{
        visibility: visible;
    }
}

@media(max-width: 648px){
    .top{
        padding-right: 10px;
        gap: 10px;
    }
}